@import 'variables';
@import 'mixins';
@import 'reset';
@import 'animations';
@import 'layouts';
@import 'components';


.form {
    max-width: 900px;
    margin: 0 auto;
}

.form-label {
    color: $main-font-color;
    font-weight: bold;
    display: block;
}  

.form-input {
    width: 100%;
    margin-top: 0.25;
    margin-bottom: 0.75;
    outline: none;
    border: 1.4px solid $main-font-color;
    border-radius: 0.2rem;
    padding: 0.5rem;
    color: inherit;
    resize: vertical;
    max-height: 150px;
    background-color: #E8F0FE;

    &:hover, &:focus {
        border-color: darken($main-font-color,10);
    }
    &::placeholder{
        color:rgb(85, 85, 85);
    }
}

.btn-container {
    text-align: right;
}

.btn-lg {
    @extend .btn;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    padding: 0.3rem 1.6rem;
    margin-top: 0.8rem;
    background-color: $main-font-color;
    box-shadow: 0px 1px 4px 0px $main-font-color;
    &:hover {
        background-color: lighten($main-font-color,3);
        box-shadow: 0px 2px 8px 0px $main-font-color;
    }
}